:root{
    --black: #010626;
    --grey: #595959;
    --light-grey: #BFBFBF;
    --light-blue: #4B50BF;
    --lig-blue-2: #5B3FBF;
    --dark-blue: #010B40;
    --dark-blue-2: #020F59;
    --orange: #ff8f17;
    --white: #fff;
}

body{
    margin: 0;
    background: #4B50BF;
    background: linear-gradient(90deg, rgba(75, 80, 191, 1) 0%, rgba(2, 15, 89, 1) 50%, rgba(75, 80, 191, 1) 100%);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    
    width: 100vw;
    height: 100%;
    margin-bottom: 100px;
}

#viz-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#viz-container.antoine{
    width: 90%;
}

.vmi{
    width: 100%;
}

.viz-content, #year-details{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

button:hover{
    background: #ff8f17a7;
}

button.selected{
    background: var(--orange);
}

h1{
    text-align: center;
}

.chart-text{
    fill: #fff;
}

.controls-container{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

label{
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
}

select{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    cursor: pointer;
}

.select-wrapper{
  position: relative;
  display: inline-block;

}

.select-wrapper select:hover{
    background-color: #ff8f17a7;
}

.select-wrapper select {
  transition: background-color .3s ease-in-out;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px; /* espace pour l'icône */
}

select option {
    all: unset;
    background-color: var(--dark-blue-2); /* couleur de fond des options */
    color: var(--white); /* couleur du texte */
}

select option:checked,
select option:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

.select-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* l’icône ne bloque pas le select */
  color: var(--white);
}


input[type="checkbox"]{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    aspect-ratio: 1;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s ease-in-out;
}

input[type="checkbox"]:hover {
    background: #ff8f17a7;
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.5);
}


input[type="checkbox"]:checked {
    background: var(--orange);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-color: var(--white);
    transform: scale(0.95);
}

input[type="checkbox"]::after {
    content: '✓';
    color: var(--white);
    font-size: 1.2rem;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

input[type="checkbox"]:checked::after {
    content: '✓';
    color: var(--white);
    font-size: 1.2rem;
    display: block;
    opacity: 1;
}

.tootltip {
    transition: opacity .3s ease-in-out , transform .3s ease-in-out; 
    opacity: 0; 
    cursor: pointer;
    transform: scale(0);
}

.tootltip:hover {
    opacity: 1; 
    transform: scale(1);
}

.dot{
    transition: filter .3s ease-in-out;
    cursor: pointer;
}

.dot:hover{
    filter: brightness(200%);
}

.reset-button{
    height: 40px;
    box-sizing: border-box;
}

.bar-romain:hover{
    transition: 0.3s filter ease-in-out;
}

.bar-romain:hover{
    filter: brightness(200%);
}

.dot{
    transition: all 500ms ease-in-out;
}

input[type='range'] {
    overflow: visible;
    width: 80px;
    -webkit-appearance: none;
    background-color: var(--orange);
     width: 80%;
    height: 6px;
}
    
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: var(--orange);
    margin-top: -1px;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background-color: var(--orange);
    border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: var(--orange);
    border-radius: 50%;
    margin-top: -5px; /* centrer thumb sur la piste */
}


input[type="range"]::-moz-range-progress {
  background-color: var(--orange); 
}
input[type="range"]::-moz-range-track {  
  background-color: var(--orange);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--orange); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: var(--orange);
}