:root{
    --black: #010626;
    --grey: #595959;
    --light-grey: #BFBFBF;
    --light-blue: #4B50BF;
    --lig-blue-2: #5B3FBF;
    --dark-blue: #010B40;
    --dark-blue-2: #020F59;
    --orange: #ff8f17;
    --white: #fff;
}

body{
    margin: 0;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    
    width: 100vw;
    height: 100vh;
}

#viz-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.viz-content{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

button:hover{
    background: rgba(255, 255, 255, 0.5);
}

button.selected{
    background: rgba(255, 255, 255, 0.5)
}

h1{
    text-align: center;
}

.chart-text{
    fill: #fff;
}

.controls-container{
    display: flex;
    gap: 2rem;
}

label{
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
}

select{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    cursor: pointer;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px; /* espace pour l'icône */
}

.select-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* l’icône ne bloque pas le select */
  color: var(--white);
}


input[type="checkbox"]{
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    aspect-ratio: 1;
    height: 100%;
}

input[type="checkbox"]:hover {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.5);
}


input[type="checkbox"]:checked {
    background: var(--dark-blue-2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-color: var(--white);
    transform: scale(0.95);
}